.top_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_model_shot{
    margin-top: 10px;
    text-align: center;
}

.intro_price_box{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.select_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 2px;

    width: 360px;
    border: solid 2px;
    border-color: black;
}

.price_count{
    margin-top: 3px;
    margin-right: 12px;
    display: flex;
    justify-content: right;
}

.total_box{
    margin-top: 20px;
    font-weight: bolder;


}
.buy_btn{
    display: flex;
    justify-content: space-around;
}


.buy_btn a{
    text-align: center;
    border: solid 1px;
    border-color: black;
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: black;

}

.buy_btn>a:nth-child(1){
    width: 60%;
    background-color: black;
    color: white;
}

.buy_btn>div:nth-child(2){
    width: 30%;
    border: 1px solid #999;
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;

    }

.footer_img{
    position: fixed;
    bottom: 0;

    width: 100%;
    background-color: #bbb;
    border-color: #aaa;
    border-top:  1px solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;

}